<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <import resource="services.xml"/>
    <import resource="aspects.xml"/>

    <bean id="app" class="com.epam.spring.core.App">
        <constructor-arg index="0" ref="userService"/>
        <constructor-arg index="1" ref="eventService"/>
        <constructor-arg index="2" ref="auditoriumService"/>
        <constructor-arg index="3" ref="discountService"/>
        <constructor-arg index="4" ref="bookingService"/>
        <property name="emailUser" value="petya@epam.com"/>
        <property name="nameEvent" value="Event1"/>
    </bean>  
</beans>